
{% extends 'base.html' %}


{% load crispy_forms_tags %}
{% block base %}
{% load static %}


<body>

    <div class="all_container">
        <div class="ads_link_block" >

            <progress value="0" max="5" id="progress"></progress>
            
            <div id="ads_link" class="ads_seconds" linkim="{{ link.link }}">
                <span id="ads_seconds_value">5</span> saniyə&nbsp;  sonra&nbsp;  linkə <br>
                yönləndiriləcəksiniz
            </div>
        </div>
     
    
    
          
        <div class="img_container">
            <img src="{% static 'berg2.jpg' %}" alt="" height="100%" class="ads_img">
        </div>
    </div>
    

    



</body>

<script>
    var timeleft = 5;
    var timerigt = 0;
    var link = document.getElementById('ads_link');
    console.log(link)
    var downloadTimer = setInterval(function(){
      if(timeleft < 0 && timerigt > 5){
        clearInterval(downloadTimer);
        window.location.href = link.getAttribute('linkim');
      } else {
      document.getElementById("ads_seconds_value").innerHTML = timeleft;
      document.getElementById("progress").value = timerigt;
      }
      timeleft -= 1;
      timerigt += 1;
    }, 1000);
    
    </script>
{% endblock %}