{% extends 'base.html' %}


{% load crispy_forms_tags %}
{% block base %}
{% load static %}

    <body>
       <div class="container">


        {% if not request.user.is_authenticated %}
        <a href="{% url 'register' %}">
            <div class="index_links">
                Qeydiyyat
            </div>
        </a>
        <a href="{% url 'login' %}">
            <div class="index_links">
                Giriş
            </div>
        </a>
        {% endif %}

            {% if request.user.is_authenticated %}
            <div class="index_links">
                <a href="{% url 'linkadd' %}">Link yarat</a>
            </div>

            <div class="index_links">
                <a href="{% url 'profile' request.user.username %}">Profil səhifəsi</a>
            </div>

            <div class="index_links" style="background-color: red;">
                <a href="{% url 'logout' %}">Çıxış</a>
            </div>
            {% endif %}
       </div>
    </body>

{% endblock %}